<!--  Linear Chart  -->
<div class="graph-background">
    <div class="graph">

        <!-- Filter section-->
        <div class="filters">

          <!-- Filter by year and month -->
          <div>
            <mat-form-field>
              <mat-label>Filter by year</mat-label>
              <mat-select (selectionChange)="filter($event)" [(ngModel)]="selectedYear"  [disabled]="fullDateFilter">
                <mat-option value="-1">No filter</mat-option>
                <mat-option *ngFor="let year of yearsToDisplay" [value]="year">{{ year }}</mat-option>
              </mat-select>
            </mat-form-field>
            
            <mat-form-field style="margin-left: 10px;">
              <mat-label>Filter by month</mat-label>
              <mat-select (selectionChange)="filter($event)" [(ngModel)]="selectedMonth" [disabled]="selectedYear==-1" >
                <mat-option value="none">No filter</mat-option>
                <mat-option *ngFor="let month of monthsToDisplay" [value]="month">{{ month }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          
          <!--  Filter by precise date  -->
          <div>  
            <mat-form-field >
              <mat-label>Insert a precise date</mat-label>
              <input matInput [matDatepicker]="picker"
              (dateInput)="filterFullDate($event)"
              [disabled]="selectedYear!=-1"
              [(ngModel)]="fullDateInput"
              placeholder="MM/DD/YYYY">
              <mat-datepicker-toggle matIconSuffix [for]="picker" ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          
          <!--  Button to clear the filters -->
          <button mat-raised-button color="warn" (click)="clearFilters()">Clear all filters</button>
        </div>
        
        <!--  Linear chart  -->
        <div>
          <canvas 
          baseChart
          [data]="lineChartData"
          [options]="lineChartOptions"
          [type]="lineChartType"
          height="100%"
          ></canvas>
        </div>
    </div>
</div>


