$lighter-blue: #DCF2F1;
$light-blue: #7fc7d9;
$dark-blue:#365486;
$darker-blue:#0F1035;


//Confirmation dialog styling
.background {
    background-color: white;
    margin: 20px;
    color: $darker-blue;
    b{
        color: $dark-blue;
    }
    .mat-divider {
        border-top-color: $dark-blue;
        border-top-width: 4px;
        margin: 4px;
    }
    div{
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .mat-mdc-raised-button {
            width: 30%;
        }
    }
    th,td {
        text-align: center;
    }
}