$lighter-blue: #DCF2F1;
$light-blue: #7fc7d9;
$dark-blue:#365486;
$darker-blue:#0F1035;

.dashboard {
    background-color: $lighter-blue;
    //background: linear-gradient(0deg, rgba(21,25,61,1) 14%, rgba(100,146,188,1) 28%, rgba(113,166,209,1) 39%, rgba(152,207,226,1) 45%, rgba(185,242,240,1) 50%, rgba(149,204,225,1) 55%, rgba(113,166,209,1) 60%, rgba(105,154,197,1) 74%, rgba(21,25,61,1) 86%);
    height: 100%;
    width: 100%;
    z-index: 0;
    
    .example-container {
        height: 100%;
        background-color: $lighter-blue;
    }
}


.side-nav {
    z-index: 0;
    background-color: $dark-blue;
    height: 100%;
    width: 100px;
    position: relative;
    
    .side-content {
        position: absolute;
        width: 100%;
        text-align: center;
     
       
       
        .mat-mdc-fab {
            margin-top: 100%;
            margin-bottom: 70%;
            width: 80px;
            height: 80px;
            
            background-color: $darker-blue;
            color: $light-blue;
            border: 2px solid $light-blue;
        }  
    }
   
}
.tab-group{
    z-index: 0;
    height: 100%;
    mat-mdc-tab-body-wrapper {
        height: 100%;   
    } 
    .mat-mdc-fab {
        position: fixed;

        width: 60px;
        height: 60px;
        z-index: 2;
        background-color: $darker-blue;
        color: $light-blue;
        border: 2px solid $light-blue;
        bottom: 20px;
        left: 20px;
    } 
}
