$lighter-blue: #DCF2F1;
$light-blue: #7fc7d9;
$dark-blue:#365486;
$darker-blue:#0F1035;

//Main dashboard styling and sidnav content
.dashboard {
    background-color: $lighter-blue;
    height: 100%;
    width: 100%;
    z-index: 0;
    
    .example-container {
        height: 100%;
        background-color: $lighter-blue;
    }
}

//Sidenav drawer
.side-nav {
    z-index: 0;
    background-color: $dark-blue;
    height: 100%;
    width: 100px;
    position: relative;
    
    .side-content {
        position: absolute;
        width: 100%;
        text-align: center;
        //Navigation buttons styling
        .mat-mdc-fab {
            margin-top: 100%;
            margin-bottom: 70%;
            width: 80px;
            height: 80px;
            
            background-color: $darker-blue;
            color: $light-blue;
            border: 2px solid $light-blue;
        }  
    }
   
}

//Sidenav content
.tab-group{
    z-index: 0;
    height: 100%;
    mat-mdc-tab-body-wrapper {
        height: 100%;   
    } 
    //Floating button to open the drawer
    .mat-mdc-fab {
        position: fixed;

        width: 60px;
        height: 60px;
        z-index: 2;
        background-color: $darker-blue;
        color: $light-blue;
        border: 2px solid $light-blue;
        bottom: 20px;
        left: 20px;
    } 
}
