$lighter-blue: #DCF2F1;
$light-blue: #7fc7d9;
$dark-blue:#365486;
$darker-blue:#0F1035;

.dashboard {
    background-color: $lighter-blue;
    height: 100%;
    width: 100%;
    mat-mdc-tab-body-wrapper {
        height: 100%;
    }
    .tab-group {
        height: 100%;
        .request-list {
            height: 100%;
        }
    }
}