$light-blue: #7fc7d9;
$dark-blue:#365486;
$darker-blue:#0F1035;

.main-div {
    background-color: black;
    height: 90%;
    width: 100%;
    display: flex;     

    .side-nav {
        width: 5%;
    }
    .dashboard {
        width: 95%;
    }
}