
<div class="background">
    <h2>Request ID: {{data.request.id}}</h2>
    <mat-divider></mat-divider>
    <span mat-subheader><b>Goods list:</b></span>
    <table>
        <tr>
            <th>ID</th>
            <th>Quantity</th>
        </tr>
        <tr *ngFor="let good of data.request.goodsId">
            <td>{{good.id}}</td>
            <td>{{good.quantity}}</td>
        </tr>
    </table>
    <mat-divider></mat-divider>
    <span><b>Latest update:</b> {{data.request.latestUpdate}}</span>
    <mat-divider></mat-divider>
    <span><b>Emmited by:</b> {{data.request.emitter}}</span>
    <mat-divider></mat-divider>
    <span><b>Handled by:</b> {{data.request.handler}}</span>
    <div>

        <button mat-raised-button color="warn" (click)="onCloseClick()">Cancel</button>
        <button mat-raised-button color="primary" (click)="confirmReception()">Confirm</button>
    </div>
</div>