$light-blue: #7fc7d9;
$dark-blue:#365486;
$darker-blue:#0F1035;

$lighter-blue: #DCF2F1;

.main-div {
    height: 90%;
    width: 100%;
    display: flex;     
    background-color: $lighter-blue;    

    .outlet { width: 100%;}
    
}