$lighter-blue: #DCF2F1;
$light-blue: #7fc7d9;
$dark-blue:#365486;
$darker-blue:#0F1035;

//Main styling class
.table-class {
    background-color:$lighter-blue;
    
    //Filter and search bar class
    .navigator {
        margin: 1%;
        display: flex;
        .sorter {
            color: $darker-blue;
            width: 100%;
            align-items: center;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 5px;
            
            .date-filter,.status-filter {
                padding: 5px;
                border:2px white solid;
                border-radius: 10px;
                text-align: center;
                background-color: white;
            }
            //Radio button styling
            mat-radio-button {
                align-items: center;
                margin: 10px;
                padding: 5px;
                background-color: $lighter-blue;
                border: 2px solid $darker-blue;
                border-radius: 10px;
                color: $darker-blue;
                p {
                    color: $dark-blue;
                    font-size: large;
                }
            }
        }
    }

    //Table styling options
    .table-div{
        background-color:$lighter-blue;
        margin: 1%;
        width: 98%;
        table{
            border-top-left-radius: 10px ;
            border-top-right-radius: 10px; 
            td, th {
                background-color: $dark-blue;
                color: $lighter-blue;
                text-align: center !important;
                vertical-align: middle !important;
                border-bottom: 1px solid $darker-blue;
                border-right: 1px solid $darker-blue;
                border-left: 1px solid $darker-blue;
                //Detailed info button styling
                .mat-mdc-raised-button.mat-white {
                    color: white;
                    background-color: $darker-blue;
                    border: 1px solid white;
                }
            }

            th {
                font-size: larger;
                border-bottom: 3px solid$darker-blue;
            }
            .mat-sort-header-container {
                justify-content: center !important;
            }
        }
        //Paginator styling
        mat-paginator {
            background-color: $light-blue;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
        }
    }
}