<div class="table-class">
    <div class="navigator">
        
        <mat-form-field>
            <input matInput (input)="applyFilter($event)" placeholder="Search" >
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>

        <div class="sorter">
            <div>
                <mat-slide-toggle [(ngModel)]="status" [disabled]="date" (change)="disableFilter($any($event))" color="primary"><p>Sort by Status</p></mat-slide-toggle>   
                <mat-slide-toggle [(ngModel)]="date" [disabled]="status" color="primary"><p>Sort by Status</p></mat-slide-toggle>
            </div>
            <div>
                <mat-radio-group aria-label="Select an option" *ngIf="status" >
                    <mat-radio-button *ngFor="let s of statusList,let i = index" [value]="i" (change)="handleStatusChange($any($event))"><p>{{s}}</p></mat-radio-button>
                </mat-radio-group>
                <mat-radio-group aria-label="Select an option" *ngIf="date" >
                    <mat-radio-button *ngFor="let d of dateList,let i = index" [value]="i" (change)="handleDateChange($any($event))"><p>{{d}}</p></mat-radio-button>
                </mat-radio-group>
            </div> 
        </div>
    </div>

    <mat-table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
        
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let request">{{request.id}}</td>
        </ng-container>
        
        <ng-container matColumnDef="emitter">
            <th mat-header-cell *matHeaderCellDef>Requested by</th>
            <td mat-cell *matCellDef="let request">{{request.emitter}}</td>
        </ng-container>
        
        <ng-container matColumnDef="handler">
            <th mat-header-cell *matHeaderCellDef>Handled by</th>
            <td mat-cell *matCellDef="let request">{{request.handler}}</td>
        </ng-container>
        
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let request">{{request.status}}</td>
        </ng-container>

        <ng-container matColumnDef="latestUpdate">
            <th mat-header-cell *matHeaderCellDef>Last update</th>
            <td mat-cell *matCellDef="let request">{{request.latestUpdate}}</td>
        </ng-container>
        
        <ng-container matColumnDef="options">
            <th mat-header-cell *matHeaderCellDef>Detais</th>
            <td mat-cell *matCellDef="let request">
                <button mat-button>Get detailed information</button>
            </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>

    </mat-table>
    <mat-paginator [pageSizeOptions]="[10]"></mat-paginator>
</div>