<div class="side-nav">
    <div class="side-content">
        <div class="navigation">
            
            <h4><u>Navigation</u></h4>
            <!--
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>Dashboard</mat-panel-title>
                            <mat-panel-description>All requestes</mat-panel-description>
                        </mat-expansion-panel-header>
                        yeah...
                    </mat-expansion-panel>
                </mat-accordion>
            -->
            <button mat-raised-button>Dashboard</button>
            <button mat-raised-button>Make Request</button>
        </div>
    </div>
</div>
