$lighter-blue: #DCF2F1;
$light-blue: #7fc7d9;
$dark-blue:#365486;
$darker-blue:#0F1035;

.side-nav {
    background-color: $dark-blue;
    height: 100%;
    width: 100%;
    position: relative;
    
    .side-content {
        position: absolute;
        width: 100%;
        .navigation {
            width: 90%;
            margin: 5%;
            color: white;
            
            .mat-mdc-raised-button {
                margin-top: 10%;
                background-color: $dark-blue;
                color: white;
                width: 100%;
                border: 2px solid white;
                :active {
                    background-color: $darker-blue;
                }
            }
        }
    }

}