<div class="side-nav">
    <div class="side-content">
        <div class="navigation">
            <button mat-mini-fab [routerLink]="'./dashboard'">
                <mat-icon>analytics</mat-icon>
            </button>
            <button mat-mini-fab [routerLink]="'./request/sentlist'"  *ngIf="(user$|async)?.type === 1">
                <mat-icon>content_paste</mat-icon>
            </button>
            <button mat-mini-fab [routerLink]="'./handlerequests/requestedlist'" *ngIf="(user$|async)?.type === 2">
                <mat-icon>checklist</mat-icon>
            </button>
        </div>
    </div>
</div>
