$lighter-blue: #DCF2F1;
$light-blue: #7fc7d9;
$dark-blue:#365486;
$darker-blue:#0F1035;

.side-nav {
    background-color: $dark-blue;
    height: 100%;
    width: 100%;
    position: relative;
    
    .side-content {
        position: absolute;
        width: 100%;
        text-align: center;
        .navigation {
            width: 90%;
            margin: 5%;
            color: white;
            .mat-mdc-mini-fab {
                margin-top: 20%;
                margin-bottom: 20%;
                background-color: $darker-blue;
                color: $light-blue;
                border: 2px solid $light-blue;
            }
        }
    }

}