
<div class="requested-goods-background">
    <div class="layout-text">
        <div>
            <h1>List of sent requests</h1>
            <h3>somthing something something.</h3>
        </div>
        <button mat-raised-button class="button-send" routerLink="/makerequest"><mat-icon>format_list_bulleted</mat-icon>Make a request list</button>
    </div>

        <mat-form-field >
            <mat-label>Search</mat-label>
            <input matInput (input)="applyFilter($event)" placeholder="Search by ids" >
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>

    <div class="layout">
        <app-list-of-sent-goods [requests]="requests"></app-list-of-sent-goods>
    </div>
</div>